//
//  Config-DebugSimulator.xcconfig
//  ManicEmu
//
//  Created by Daiuno on 2025/4/25.
//  Copyright © 2025 Manic EMU. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-ManicEmu/Pods-ManicEmu.debugsimulator.xcconfig"
#include "ManicEmu/Resources/Config-Base.xcconfig"
