//
//  Config-Realeas.xcconfig
//  ManicEmu
//
//  Created by Aoshuang Lee on 2023/5/9.
//  Copyright © 2023 Aoshuang Lee. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "Pods/Target Support Files/Pods-ManicEmu/Pods-ManicEmu.release.xcconfig"
#include "ManicEmu/Resources/Config-Base.xcconfig"
