//
//  ConfigBase.xcconfig/Users/lax/ProjectManicEMU/ManicSupport/Resources/System.core
//  ManicEmu
//
//  Created by Aoshuang Lee on 2023/5/9.
//  Copyright © 2023 Aoshuang Lee. All rights reserved.
//
// SPDX-License-Identifier: AGPL-3.0-or-later

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

APP_BUNDLE_IDENTIFIER = com.aoshuang.manicemu
APP_BUILD_VERSION = 1
APP_VERSION = 1.7.0
